# DataFrames in Pandas
### abs() Method
- This method returns a DataFrame with absoulte value of each value.
- This method has no parameters.
- syntax : dataframe.abs()

In [ ]:
import pandas as pd
data1=[[52,-96,36,14,-85,-73],[1,5,-6,4,9,-75]]
df1=pd.DataFrame(data1)
print(df1.abs())

import pandas as pd
data2=[7,89,41,257,-987]
df2=pd.DataFrame(data2)
print(df2.abs())

### add() Method
- This method adds each value in the dataframe with a specific value.
- Syntax : dataframe.add()

In [ ]:
import pandas as pd
data={
    'points':[100,115,145],
    'Marks':[85,35,175]
}
df=pd.DataFrame(data)
print(df.add(15))

### add_prefix() Method
- This method inserts the specific value infront of the column label.
- syntax : dataframe.add_prefix(prefix_value)

In [ ]:
import pandas as pd
data={
    'age':[25,14,78],
    'name':['Raju','Vinay','kiran']
}
df=pd.DataFrame(data)
print(df.add_prefix('student_'))

### add_suffix() Method
- This method inserts specific value in the last column label.
- Syntax : dataframe.add_suffix(suffix_value)

In [ ]:
import pandas as pd
data={
    'age':[25,14,78],
    'name':['Raju','Vinay','kiran']
}
df=pd.DataFrame(data)
print(df.add_suffix('_of_student'))

### agg() or aggregate() Methods
- This method list of function names to be executed along one of the axis of the DataFrame.
- By using this we can perform max, min, sum etc.
- Syntax : dataframe.agg()

In [ ]:
import pandas as pd
data={
    'X':[1,4,7],
    'Y':[2,5,8]
}
df=pd.DataFrame(data)
x=df.agg(['sum'])
y=df.agg(['max'])
z=df.agg(['min'])
print(x)
print(y)
print(z)

### all() Method
- This method returns one value for each column, True if ALL values in that column are True, otherwise False.
- Syntax : dataframe.all()

In [ ]:
import pandas as pd
data ={
    'x':[True,True,True],
    'y':[False,True,False]
}
df=pd.DataFrame(data)
print(df.all())

### any() Method
- This method returns one value for each column, True if ANY value in that column is True, otherwise False.
- Syntax : dataframe.any()

In [ ]:
import pandas as pd
data ={
    'x':[True,True,True],
    'y':[False,True,False]
}
df=pd.DataFrame(data)
print(df.any())

### applymap() Method
- This method allows you to apply one or more functions to the DataFrame object.
- Syntax : dataframe.applymap(funcs_names)

In [ ]:
import pandas as pd
def func1(x):
    return x.lower()
data1={
    "name": ["Sally","Mary","John"],
  "city": ["London", "Tokyo", "Madrid"]
}
df=pd.DataFrame(data1)
new_df=df.applymap(func1)
print(new_df)

### apply() Method
- This method allows you to apply a function along one of the axis of the DataFrame, default 0, which is the index (row) axis.
- Syntax : dataframe.apply(func_names)

In [ ]:
import pandas as pd
def func1_sum(x):
    return x.sum()
data1={
    'x':[1,4,70],
    'y':[25,36,58]
}
df=pd.DataFrame(data1)
new_df=df.apply(func1_sum)
print(new_df)

### assign() Method
- This method adds a new column to an existing DataFrame.
- Syntax : dataframe.assign(new_col_vales)

In [ ]:
import pandas as pd
data={
    'name':['kiran','prabhas','arjun']
}
df=pd.DataFrame(data)
new_df=df.assign(age=[25,48,67])
print(new_df)

### astype() Method
- This method returns a new DataFrame where the data types has been changed to the specified type.
- Syntax : dataframe.astype(datatype)

In [ ]:
import pandas as pd
data={
    'x':[4.5,25,96],
    'y':[4.9,78,35],
    'z':[7.9,84.25,86.71]
}
df=pd.DataFrame(data)
new_df=df.astype('int64')
print(new_df)

### at() Method
- at() property gets, or sets, the value of the specified position.
- Specify both row (index) and column (label) of the cell you want to return.
- Syntax : dataframe.at([index],[label])

In [ ]:
import pandas as pd
data={
    'name':['nani','Priya','Karthik'],
    'age':[25,14,78]
}
df=pd.DataFrame(data)
new_df=df.at[1,'name']
print(new_df)

### axes() Method
- This method property returns a list with the row axis labels, and the column axis labels, in that order.
- Syntax : dataframe.axes()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.axes)

### bfill() Method
- This method  replaces the NULL values with the values from the next row (or next column, if the axis parameter is set to 'columns').
- Syntax : dataframe.bfill()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.bfill()
print(new_df.to_string())

### bool() Method
- This method returns a boolean value, True or False, reflecting the value of the DataFrame.
- This method will only work if the DataFrame has only 1 value, and that value must be either True or False, otherwise the bool() method will return an error.
- Syntax : dataframe.bool()

In [ ]:
import pandas as pd
data={
    'x':[True]
}
df=pd.DataFrame(data)
new_df=df.bool()
print(new_df)

### column() Methods
- This property returns the label of each column in the DataFrame.
- Syntax : dataframe.column()

In [ ]:
import pandas as pd
data= pd.read_csv('data.csv')
print(data.columns)

### combine() Method
- This method combines two DataFrame objects, and uses a specified function two decide which column to keep.
- Syntax : dataframe.combine(new_datframe,my_funcs)

In [ ]:
import pandas as pd
df1=pd.DataFrame([1,5],[6,7])
df2=pd.DataFrame([5,9],[7,6])
def myfun(a,b):
    if (a.sum() > b.sum()):
        return a
    else:
        return b
print(df1.combine(df2,myfun))

### combine_first() Method
- This method combines two DataFrame objects, and uses a the value from the second DataFrame if the first has a NULL value.
- Syntax : dataframe.combine_first()

In [ ]:
import pandas as pd
df1=pd.DataFrame([[5,9],[None,7]])
df2=pd.DataFrame([[8,5],[3,6]])
new_df=df1.combine_first(df2)
print(new_df)

### convert_dtypes() Method
- This method returns a new DataFrame where each column has been changed to the best possible data type.
- Syntax : dataframe.convert_dtype()

In [ ]:
import pandas as pd
data={
    'x':['Ramu','vinay','Rakesh',pd.NA],
    'y':[25,36,14,23],
    'z':[True,False,True,pd.NA]
}
df=pd.DataFrame(data)
print('Original Datatypes:')
print(df.dtypes)

new_df=df.convert_dtypes()
print("New Datatypes")
print(new_df.dtypes)

### count() Method
- This method counts the number of not empty values for each row, or column if you specify the axis parameter as axis='columns', 
  and returns a Series object with the result for each row (or column).
- Syntax : dataframe.count()

In [ ]:
import pandas as pd
data={
    'x':[15,48,69,37,None,None],
    'y':[147,159,126,785,45,63]
}
df=pd.DataFrame(data)
new_df=df.count()
print(new_df)

### cov() Method
- This method finds the covariance of each column in a DataFrame.
- Syntax : dataframe.cov()

In [ ]:
import pandas as pd
data=[[1,4,7],[2,5,8]]
df=pd.DataFrame(data)
new_df=df.cov()
print(new_df)

### copy() Method
- This method returns a copy of DataFrame.
- By default, the copy is a "deep copy" meaning that any changes made in the original DataFrame will NOT be reflected in the copy.
- Syntax : dataframe.copy()

In [ ]:
import pandas as pd
data=[[1,4,7,3,6,9]]
df=pd.DataFrame(data)
new_df=df.copy()
print(new_df)

### cummax(), cummin(), cumsum(), cumprod() Methods
- This methods calculates the maximum, minimum, product, sum values in each row of the DataFrame.
- Syntax : dataframe.cummax(), dataframe.cummin(), dataframe.cumsum(), dataframe.cumprod()

In [ ]:
import pandas as pd
data=[[1,4,7],[2,5,8],[3,6,9]]
df=pd.DataFrame(data)
new_df1=df.cummax()
new_df2=df.cummin()
new_df3=df.cumsum()
new_df4=df.cumprod()
print(new_df1)
print(new_df2)
print(new_df3)
print(new_df4)

### diff(), div(), dot() Method
- This method returns a DataFrame with the difference between the values for each row and, by default, the previous row.
- This method divides each value in the DataFrame with a specified value.
- This method multiplies each value from one DataFrame with the values from another DataFrame (or Series or array), and adds them together.
- Syntax : dataframe.diff(), dataframe.div(), dataframe.dot()

In [ ]:
import pandas as pd
data=[[1,4,7],[2,5,8],[3,6,9]]
data2=[[7,4,1],[8,5,2],[9,6,3]]
df=pd.DataFrame(data)
new_df1=df.diff()
new_df2=df.div(2)
df1=pd.DataFrame(data2)
new_df3=df.dot(df1)
print(new_df1)
print(new_df2)
print(new_df3)

### eq(), equals(), empty() Method
- Returns True for values that are equal to the specified value(s), otherwise False
- Returns True if two DataFrames are equal, otherwise False.
- Returns True if the DataFrame is empty, otherwise False.
- Syntax : dataframe.eq() , dataframe.equals(), dataframe.empty()

In [ ]:
import pandas as pd
df = pd.DataFrame([[10, 12, 2], [3, 4, 7]])
print(df.eq(7))

import pandas as pd
data1 = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, 30, 40]
}
df1 = pd.DataFrame(data)
data2 = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, 30, 40]
}
df2 = pd.DataFrame(data)
print(df1.equals(df2))

import pandas as pd
df = pd.read_csv('data.csv')
print(df.empty)

### eval(), explode() Method
- This method evaluates the string expression and returns the result.
- This method converts each element of the specified column(s) into a row.
- Syntax : dataframe.eval(), dataframe.explode()

In [ ]:
import pandas as pd
data = {
  "Women": [125, 230, 412],
  "Men": [219, 185, 452]
}
df = pd.DataFrame(data)
print(df.eval("Women + Men"))


import pandas as pd
data = {
  "Brand": ["Ford", "Ford", "Ford"],
  "Model": ["Sierra", "F-150", "Mustang"],
  "Typ" : ["2.0 GL", "Raptor", ["Mach-E", "Mach-1"]]
}
df = pd.DataFrame(data)
newdf = df.explode('Typ')

### ffill(), fillna() Method
- Replaces NULL values with the value from the previous row.
- Replaces NULL values with the specific value.
- Syntax : dataframe.ffill(), dataframe.fillna(value_be_replaced)

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.ffill)

import pandas as pd
df = pd.read_csv('data.csv')
print(df.fillna(2222))

### filter(), first(), last(), floordiv() Methods
- This method filters the DataFrame, and returns only the rows or columns that are specified in the filter.
- This method returns the first n rows, based on the specified value.
- This method returns the last n rows, based on the specified value.
- This method divides each value in the DataFrame with a specified value, and returns the integer (removes any decimals).
- Syntax : dataframe.filter(), dataframe.first(), dataframe.last(), dataframe.floordiv()

In [ ]:
import pandas as pd
data={
    'name':['kiran','sita','bhanu','vinay'],
    'age':[14,25,36,78],
    'grage':['A','C','D','B']
}
df=pd.DataFrame(data)
new_df=df.filter(items=['name','age'])
print(new_df)


import pandas as pd
jan=pd.date_range(start='2026-01-01', end='2026-01-31')
data={
    'reg':[5, 4, 3, 4, 3, 5, 1, 6, 1, 9, 5, 3, 7, 2, 8, 4, 4, 6, 4, 3, 2, 5, 3, 4, 2, 6, 8, 5, 3, 4, 5]
}
df=pd.DataFrame(data, index=jan)
new_df=df.first('5D')
print(new_df)


import pandas as pd
jan=pd.date_range(start='2026-01-01', end='2026-01-31')
data={
    'reg':[5, 4, 3, 4, 3, 5, 1, 6, 1, 9, 5, 3, 7, 2, 8, 4, 4, 6, 4, 3, 2, 5, 3, 4, 2, 6, 8, 5, 3, 4, 5]
}
df=pd.DataFrame(data, index=jan)
new_df=df.last('5D')
print(new_df)

import pandas as pd
data={
    'x':[147,258,369],
    'y':[456,789,123]
}
df=pd.DataFrame(data)
new_df=df.floordiv(11)
print(new_df)

### ge(), get(), groupby(),gt() Methods
- This method compares each value in a DataFrame to check if it is greater than, or equal to a specified value, or a value from a specified DataFrame objects, and returns a DataFrame with boolean True/False for each comparison.
- This method returns the specified column(s) from the DataFrame.
- This method allows you to group your data and execute functions on these groups.
- This method compares each value in a DataFrame to check if it is greater than a specified value, or a value from a specified DataFrame objects, and returns a DataFrame with boolean True/False for each comparison.
- Syntax : dataframe.ge(), dataframe.get(), dataframe.groupby(), dataframe.gt()

In [ ]:
import pandas as pd
df = pd.DataFrame([[10, 12, 2], [3, 4, 7]])
new_df=df.ge(7)
print(new_df)


import pandas as pd
data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data)
new_df=df.get("firstname")
print(new_df)


import pandas as pd
data = {
  'co2': [95, 90, 99, 104, 105, 94, 99, 104],
  'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-Max'],
  'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}
df = pd.DataFrame(data)
new_df=df.groupby(["car"]).mean()
print(new_df)


import pandas as pd
df = pd.DataFrame([[10, 12, 2], [3, 4, 7]])
print(df.gt(7))

### head() Method
- This method returns  aspecific number of rows,string from the top.
- Syntax : dataframe.head()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

### iat() Method
- This property gets, or sets the value of the specified position.
- specify both row and column with a number representing the position.
- Syntax : dataframe.iat([row,column])

In [ ]:
import pandas as pd
data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data)
print(df.iat[2, 1])

### idxmax(), idxmin() Method
- This method returns a Series with the index of the maximum value for each column.
- This method returns a Series with the index of the minimun value for each column.
- Syntax : dataframe.idxmax(), dataframe.idxmin()

In [ ]:
import pandas as pd
data = {
  "sales": [23, 34, 56],
  "age": [50, 40, 30]
}
df=pd.DataFrame(data)
new_df=df.idxmax()
new_df1=df.idxmin()
print(new_df)
print(new_df1)

### iloc() Method
- The iloc property gets, or sets, the value(s) of the specified indexes.
- Specify both row and column with an index.
- To access more than one row, use double brackets and specify the indexes, separated by commas:
  df.iloc[[0, 2]]
- Syntax : dataframe.iloc()

In [ ]:
import pandas as pd
data = [[50, True], [40, False], [30, False]]
df = pd.DataFrame(data)
print(df)
print(df.iloc[1, 0])

### index() Method
-  This method returns the index information of the DataFrame.
-  Syntax : dataframe.index()

### info() Method
- This method prints information about the DataFrame.
- Syntax : dataframe.info()

In [ ]:
import pandas as pd
data=pd.read_csv('data.csv')
print(data.index)


import pandas as pd
df = pd.read_csv('data.csv')
df.info()

### insert() Method
- This method allows us to insert a new column to an existing DataFrame.
- Syntax : dataframe.insert()

### interpolate() Method
- This method replaces the NULL values based on a specified method.
- Syntax : dataframe.interpolate()

In [ ]:
import pandas as pd
data = {
  "name": ["Sally", "Mary", "John"],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data)
df.insert(1, "age", [50, 40, 30])
print(df)


import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.interpolate(method='linear')
print(new_df)

### isin() Method
- This method checks if the Dataframe contains the specified value(s).
- Syntax : dataframe.isin()

In [ ]:
import pandas as pd
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
df = pd.DataFrame(data)
print(df.isin([50, 40]))

### isna() Method
- This method returns a DataFrame object where all the values are replaced with a Boolean value True for NA (not-a -number) values, and otherwise False.
- Syntax : dataframe.isna()

### isnull() Method
- This method returns a DataFrame object where all the values are replaced with a Boolean value True for NULL values, and otherwise False.
- Syntax : dataframe.isnull()

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
new_df=df.isna()
print(new_df.to_string())

import pandas as pd
df=pd.read_csv('data.csv')
new_df=df.isnull()
print(new_df.to_string())

### iteritems(),items() same Method
- This method generates an iterator object of the DataFrame, allowing us to iterate each column of the DataFrame.
- Syntax : dataframe.iteritems(), dataframe.items()

In [ ]:
import pandas as pd
data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
df = pd.DataFrame(data)
for x, y in df.items():
  print(x)
  print(y)

### itertuples(), iterrows() Method
- This method generates an iterator object of the DataFrame, returning each row as a Pyton Tuple object.
- This method generates an iterator object of the DataFrame, allowing us to iterate each row in the DataFrame.
- Syntax : dataframe.itemtuples(), dataframe.iterrows()

In [ ]:
import pandas as pd
data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
df = pd.DataFrame(data)
for index, row in df.iterrows():
  print(row["firstname"])


import pandas as pd
data = {
  "firstname": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
df = pd.DataFrame(data)
for row in df.itertuples():
  print(row)

### join() Method
- This method inserts column(s) from another DataFrame, or Series.
- Sytnax : dataframe.join()

In [ ]:
import pandas as pd
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
data2 = {
  "qualified": [True, False, False]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
newdf = df1.join(df2)
print(new_df)

### le() Method
- This method compares each value in a DataFrame to check if it is less than, or equal to a specified value, or a value from a specified DataFrame objects, and returns a DataFrame with boolean True/False for each comparison.
- Syntax : dataframe.le()

### loc() Method
- This property gets, or sets, the value(s) of the specified labels.Specify both row and column with a label.
- To access more than one row, use double brackets and specify the labels, separated by commas: df.loc[["Sally", "John"]]
- Specify columns by including their labels in another list: df.loc[["Sally", "John"], ["age", "qualified"]]
- You can also specify a slice of the DataFrame with from and to labels, separated by a colon: df.loc["Sally": "John"]
- Syntax : dataframe.loc()

In [ ]:
import pandas as pd
df = pd.DataFrame([[10, 12, 2], [3, 4, 7]])
print(df.le(7))


import pandas as pd
data = [[50, True], [40, False], [30, False]]
label_rows = ["Sally", "Mary", "John"]
label_cols = ["age", "qualified"]
df = pd.DataFrame(data, label_rows, label_cols)
print(df.loc["Mary", "age"])

### lt() Method
- This method compare each value in a DataFrame to check if it is less than a specified value, or a value from a specified DataFrame objects, and returns a DataFrame with boolean True/False for each comparison.
- If less than return true.
- Syntax : dataframe.lt()

In [ ]:
import pandas as pd
df = pd.DataFrame([[10, 12, 2], [3, 4, 7]])
print(df.lt(7))