### mask() Method
- This method replaces the values of the rows where the condition evaluates to True.
- Syntax : dataframe.mask()

### where() Method
- This method replaces the values of the rows where the condition evaluates to false.
- Syntax : dataframe.where()

In [ ]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
new_df = df.mask(df["age"] > 30)
print(new_df)

import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
new_df = df.where(df["age"] > 30)
print(new_df)

### max(), min(), mean(), mode(), median() Methods
- This method returns a Series with the maximum value of each column.
- This method returns a Series with the minimum value of each column.
- This method returns a Series with the mean value of each column.
- This method returns a Series with the mode value of each column.
- This method returns a Series with the median value of each column.
- Syntax : dataframe.max(), dataframe.min(), dataframe.mean(), dataframe.mode(), dataframe.median()

In [ ]:
import pandas as pd
data = [[1, 1, 2], [6, 4, 2], [4, 2, 1], [4, 2, 3]]
df = pd.DataFrame(data)
print(df.max())
print(df.min())
print(df.mean())
print(df.mode())
print(df.median())

### melt(), memory_usage(), mod() or rmod(), mul() or rmul() Methods
- This method reshapes the DataFrame into a long table with one row for each each column.
- This method returns a Series that contains the memory usage of each column.
- This method finds the modulo (remainder) of each value in the DataFrame when you divide them by a a specified value.
- This method multiplies each value in the DataFrame with a specified value.
- Syntax : dataframe.melt(), dataframe.memory_usage, dataframe.mod(), dataframe.mul()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.melt()
print(newdf)


import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.memory_usage()
print(newdf)


import pandas as pd
data = {
   "points": [5, 6, 4],
  "total": [50, 40, 20]
}
df = pd.DataFrame(data)
print(df.mod(3))


import pandas as pd

data = {
   "points": [5, 6, 4],
  "total": [50, 40, 20]
}
df = pd.DataFrame(data)
print(df.mul(3))

### merge() Method
- This method updates the content of two DataFrame by merging them together, using the specified method(s).
- Syntax : dataframe.merge()

In [ ]:
import pandas as pd
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
newdf = df1.merge(df2, how='right')
print(newdf)

### ndim(), ne(), nlargest(), nsmallest() Method
- This method returns the number of dimension of the DataFrame.
- This method compares each value in a DataFrame to check if it is NOT equal to a specified value, or a value from a specified DataFrame objects, and returns a DataFrame with boolean True/False for each comparison.
- This method returns a specified number of rows, starting at the top after sorting the DataFrame by the highest value for a specified column.
- This method returns a specified number of rows, starting at the top after sorting the DataFrame by the smallest value for a specified column.
- Syntax : dataframe.ndim(), dataframe.ne(), dataframe.nlargest(), dataframe.nsmallest()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.ndim)


import pandas as pd
df = pd.DataFrame([[10, 12, 2], [3, 4, 7]])
print(df.ne(7))


import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.nlargest(10, "Calories")
print(newdf)

import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.nsmallest(10, "Calories")
print(newdf)

### notna(), notnull(), nunique() Method
- This method returns a DataFrame object where all the values are replaced with a Boolean value True for NOT NA (not-a -number) values, and otherwise False.
- This method returns a DataFrame object where all the values are replaced with a Boolean value True for NOT NULL values, and otherwise False.
- This method returns the number of unique values for each column.
- Syntax : dataframe.notna(), dataframe.notnull(), dataframe.unique()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.notna()
print(newdf)


import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.notnull()
print(newdf)


import pandas as pd
data = [[10, 20, 0], [10, 10, 10], [10, 20, 30]]
df = pd.DataFrame(data)
print(df.nunique())

### pct_change(), pipe() Method
- This method returns a DataFrame with the percentage difference between the values for each row and, by default, the previous row.
- This method allows you to apply one or more functions to the DataFrame object.Here overwrite the existing one in the dataframe.
- Syntax : dataframe.pct_change(), dataframe.pipe()

In [ ]:
import pandas as pd
data = [[10, 18, 11], [20, 15, 8], [30, 20, 3]]
df = pd.DataFrame(data)
print(df.pct_change())


import pandas as pd
def change_age(x):
  x["age"]=[10, 20, 30]
  return x
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
df = pd.DataFrame(data)
df.pipe(change_age)
print(df)

### pop(), pow() Method
- This method removes the specified column from the DataFrame.
- This method raises each value in the DataFrame a specified number of times.
- Syntax : dataframe.pop(), dataframe.pow()


### prod(),product() Method
- This method multiplies all values in each column and returns the product for each column.
- Syntax : dataframe.prod(), dataframe.product()

### quantile() Method
- This method calculates the quantile of the values in a given axis. Default axis is row.
- Syntax : dataframe.quantile()

In [ ]:
import pandas as pd
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data)
df.pop('age')
print(df)


import pandas as pd
data = {
  "points": [4, 5, 6],
  "total": [10, 12, 15]
}
df = pd.DataFrame(data)
print(df.pow(5))


import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.prod())


import pandas as pd
data = [[1, 1, 2], [6, 4, 2], [4, 2, 1], [4, 2, 3]]
df = pd.DataFrame(data)
print(df.quantile(0.2))

### query() Method
- This method allows you to query the DataFrame.
- This method takes a query expression as a string parameter, which has to evaluate to either True of False.
- Syntax : dataframe.query()

In [ ]:
import pandas as pd
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}
df = pd.DataFrame(data)
print(df.query('age > 35'))

### radd() or add(), div() or rdiv() Method
- This method adds each value in the DataFrame with a specified value.
- This method divides each value in the DataFrame with a specified value.
- Syntax : dataframe.radd(), dataframe.rdiv()

In [ ]:
import pandas as pd
data = {
  "points": [100, 120, 114],
  "total": [350, 340, 402]
}
df = pd.DataFrame(data)
print(df.radd(10))


import pandas as pd
data = {
  "points": [100, 120, 114],
  "total": [350, 340, 402]
}
df = pd.DataFrame(data)
print(df.rdiv(10))

### reindex(), rename(), rename_axis() Method
- This method allows you to change the row indexes, and the columns labels.Change the labels of the DataFrame.
- This method allows you to change the row indexes, and the columns labels.Change the labels of the axes.
- This method allows you to change the row indexes, and the columns labels.Change the labels of the axis
- Syntax : dataframe.reindex(), dataframe.rename(), dataframe.rename_axis()

In [ ]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40],
  "qualified": [True, False, False, False]
}
idx = ["Sally", "Mary", "John", "Monica"]
df = pd.DataFrame(data, index=idx)
print(df)
newidx = ["Robert", "Cindy", "Chloe", "Pete"]
newdf = df.reindex(newidx)
print(newdf)


import pandas as pd
data = {
"age": [50, 40, 30],
"qualified": [True, False, False]
}
idx = ["Sally", "Mary", "John"]
df = pd.DataFrame(data, index=idx)
print(df)
newdf = df.rename({"Sally": "Pete", "Mary": "Patrick", "John": "Paula"})
print(newdf)


import pandas as pd
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data)
print(df)
newdf = df.rename_axis("members")
print(newdf)

### replace(), reset_index() Method
- This method replaces the specified value with another specified value.
- This method allows you reset the index back to the default 0, 1, 2 etc indexes.
- Syntax : dataframe.replace(), dataframe.reset_index()

In [ ]:
import pandas as pd
data = {
  "name": ["Bill", "Bob", "Betty"],
  "age": [50, 50, 30],
  "qualified": [True, False, False]
}
df = pd.DataFrame(data)
print(df)
newdf = df.replace(50, 60)
print(newdf)


import pandas as pd
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}
idx = ["X", "Y", "Z"]
df = pd.DataFrame(data, index=idx)
print(df)
newdf = df.reset_index()
print(newdf)

### round(), sample(), sem(), select_dtypes() Method
- This method rounds the values in the DataFrame into numbers with the specified number of decimals, default 0 decimals.
- This method returns a specified number of random rows.
- This method calculates the standard error of the mean for each column.
- This method returns a new DataFrame that includes/excludes columns of the specified dtype(s).
- Syntax : dataframe.round(), dataframe.sample(), dataframe.sem(), dataframe.select_dtypes()

In [ ]:
import pandas as pd
data = [[1.1235, 1.9654, 2.6874], [6.5124, 4.2210, 2.2899]]
df = pd.DataFrame(data)
print(df.round(1))


import pandas as pd
df = pd.read_csv('data.csv')
print(df.sample())

import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.sem())

import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.select_dtypes(include='int64')
print(newdf)

### shape() Method
- This method return no of rows and columns.
- Syntax : dataframe.shape()

### size() Method
- This method returns the number of elements in the DataFrame.
- The number of elements is the number of rows * the number of columns.
- Syntax : dataframe.size()

### skew() Method
- This method calculates the skew for each column.
- Syntax : dataframe.skew()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.shape)

import pandas as pd
df = pd.read_csv('data.csv')
print(df.size)

import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.skew())

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.shape)

import pandas as pd
df=pd.read_csv('data.csv')
print(df.size)

import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.skew())

### sort_index() Method
- This method sorts the DataFrame by the index.
- Syntax : dataframe.sort_index()

### sort_values() Method
- This method sorts the DataFrame by the values.
- Syntax : dataframe.sort_values(by='column_name')

In [ ]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
idx = ["Mary", "Sally", "Emil", "Tobias", "Linus", "John", "Peter"]
df = pd.DataFrame(data, index = idx)
newdf = df.sort_index()
print(newdf)


import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
newdf = df.sort_values(by='age')
print(newdf)

### squeeze() Method
- This method converts a single column DataFrame into a Series.
- Syntax : dataframe.squeeze()

### stack() Method
- This method reshapes the DataFrame into a table with a new inner-most level of rows for each column.
- Syntax : dataframe.stack()

### std() Method
- This method calculates the standard deviation for each column.
- Syntax : dataframe.std()

### sum() Method
- This method adds all values in each column and returns the sum for each column.
- Syntax : dataframe.sum()

### sub() Method
- This method subtracts each value in the DataFrame with a specified value.
- Syntax : dataframe.sub(specified_value)

In [ ]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30]
}
df = pd.DataFrame(data)
s = df.squeeze()
print(s)


import pandas as pd
df = pd.read_csv('data.csv')
newdf = df.stack()
print(newdf)

import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df=pd.DataFrame(data)
print(df.std())

import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df=pd.DataFrame(data)
print(df.sum())

import pandas as pd
data={
    'x':[140,258,369],
    'y':[789,357,159]
}
df=pd.DataFrame(data)
new_df=df.sub(15)
print(new_df)

### T or transpose() Method
- This method transforms the columns into rows and the rows into columns.
- Syntax : dataframe.T, dataframe.transpose()

### tail() Method
- This method returns a specified number of last rows.
- This method returns the last 5 rows if a number is not specified.
- Syntax : dataframe.tail()

### take() Method
- This method returns the specified rows from the DataFrame.
- This method needs the row positions, even if the rows has named indexes.
- Syntax : dataframe.take([indexs])

In [ ]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
newdf = df.T
print(newdf)

import pandas as pd
df=pd.read_csv('data.csv')
newdf=df.tail()
print(newdf)


import pandas as pd
df = pd.read_csv('data.csv')
print(df.take([5, 10]))

### transform() Method
- This  method allows you to execute a function for each value of the DataFrame.
- Syntax : dataframe.transform(func_name)

### truediv() Method
- This method divides each value in the DataFrame with a specified value.
- Syntax : dataframe.truediv(specific_value)

In [ ]:
import pandas as pd
def eur_to_nok(x):
  return x * 10
data = {
  "for1": [2, 6, 3],
  "for5": [8, 20, 12]
}
df = pd.DataFrame(data)
newdf = df.transform(eur_to_nok)
print(newdf)


import pandas as pd
data = {
  "points": [100, 120, 114],
  "total": [350, 340, 402]
}
df = pd.DataFrame(data)
print(df.truediv(10))

### truncate() Method
- This method removes elements before and after the specified indexes or labels.
- Syntax : dataframe.truncate(before=value , after=value)

### update() Method
- This method updates a DataFrame with elements from another similar object (like another DataFrame).
- Syntax : dataframe.update(new_dataframe)

In [16]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
newdf = df.truncate(before=3, after=5)
print(newdf)

      
import pandas as pd
df1 = pd.DataFrame([["Emil", "Tobias", "Linus"], [16, 14, 10]])
df2 = pd.DataFrame([["Emil"], [17]])
df1.update(df2)
print(df1)

   age  qualified
3   40      False
4   20      False
5   10       True
      0       1      2
0  Emil  Tobias  Linus
1    17      14     10

### values() Method
- This method returns all values in the DataFrame.
- Syntax : dataframe.values()

### var() Method
- This method calculates the variance for each column.
- Syntax : dataframe.var()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.values)

import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df=pd.DataFrame(data)
print(df.var())

### where() Method
- This method replaces the values of the rows where the condition evaluates to False.
- Syntax : dataframe.where()

### mask() Method
- This method replaces the values of the rows where the condition evaluates to True.
- Syntax : dataframe.mask()

In [19]:
import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
newdf = df.where(df["age"] > 30)
print(newdf)

import pandas as pd
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
df = pd.DataFrame(data)
newdf = df.mask(df["age"] > 30)
print(newdf)

    age qualified
0  50.0      True
1  40.0     False
2   NaN       NaN
3  40.0     False
4   NaN       NaN
5   NaN       NaN
6   NaN       NaN
    age qualified
0   NaN       NaN
1   NaN       NaN
2  30.0     False
3   NaN       NaN
4  20.0     False
5  10.0      True
6  30.0      True